
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header-nav_box{
  margin-left: 40px;
}

.site-logo{
    margin-left: -40px;
}

.main-nav{
  font-size: $font-size-menu;
  text-align: center;
   ul{
      list-style: none;
      display: flex;
      li:not(:last-child){
         margin-right: 30px;
      }
      a{
        text-decoration: none;
        color: $natusan-green;
      }
   }
}

.menu-active{
   font-family: 'Palanquin-Bold';
   border-bottom: 4px solid $natusan-green;
   padding-bottom: 18px;
}


.header-acount_box{
  display: flex;
  align-items: center;
  .header__login{
      margin: 0;
      font-size: $font-size-menu;
      color: $natusan-green;
      margin-right: 25px;
      text-transform: uppercase;
    }

   svg{
      width: 25px;
      fill: $natusan-green;
      margin-right: 25px;
      cursor: pointer;
   }

    .header-start-now{
      width: 170px;
      padding: 26px 30px;
      background-color: $natusan-green;
      color: $white;
      text-align: center;
        h3{
          margin: 0;
          font-size: $font-size-menu;
        }
    }
  }

  /////*  menu mobile */////

  .menu__burger{
    cursor: pointer;
      svg{
         width: 25px;
         margin-left: 40px;
         margin-top: 5px;
         fill: $natusan-green;
       }
  }

  .menu__cross{
      width: 14px;
      cursor: pointer;
        svg{
           fill: $natusan-green;
           cursor: pointer;
        }
    }

  .menu__container{
       background-color:$white;
       position: absolute;
       width: 80%;
       height: 100%;
       z-index: 4;
       padding: 60px 0 0 40px;
       display: none;
       position: fixed;
       top:0;
      max-width: 350px;
    }

    .main-nav-mobile{
      font-size: $font-size-menu;
       ul{
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          li{
             margin-top: 30px;
          }
          a{
            text-decoration: none;
            color: $natusan-green;
          }
       }
    }

  .fadding__filter{
     background-color: $natusan-green;
     width: 100%;
     height: 100vh;
     opacity: .7;
     position: absolute;
     z-index: 3;
     display: none;
     position: fixed;
     top: 0;
 }

  .social-menu-mobile{
     margin-top: 100px;
       ul{
          margin: 0;
          display: flex;
          text-decoration: none;
          list-style: none;
          padding: 0;
          li{
             margin-right: 10px;
          }
       }

       svg{
         fill: $natusan-green;
         max-width: 35px;
         width:35px;
         height: 35px;
         &:hover{
           fill: $natusan-blue;
         }
      }
  }

   .menu-separator{
       width: 25px;
       margin: 30px 0;
        .menu-separator-line{
           width: 100%;
           height: 2px;
           background-color: $natusan-green;
        }
    }

    .menu-mobile-logo{
      width: 125px;
      margin: 30px 0;
    }

    .terms-nav-mobile{
      font-size: $font-size-menu;
       ul{
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          li:not(:first-child) {
             margin-top: 20px;
          }
          li:nth-last-child(-n+2) {
              font-size: $font-size-mini;
            }
          a{
            text-decoration: none;
            color: $natusan-green;
          }
       }
     }

   @media #{$thumb}{
       .site-logo{
           margin-left: 0;
       }
     }

  @media #{$thumb}{

    .menu__burger{
        svg{
           margin-left: 15px;

         }
    }

  }
