
/////////////////*   utilities  *///////////////


@media #{$pocket}{
  .pocket--hide {
    display: none;
  }
}

@media #{$lap-and-up}{
  .lap-and-up--hide{
    display: none;
  }
}
.relative{
   position: relative;
}

.full-width{
   width: 100%;
}

.font-size{
  font-size: 0;
}

.container{
   width: 85%;
   max-width: 1200px;
   margin: 0 auto;
}

.container-secondary{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.container-full{
   width: 100%;
}

.custom__button-primary{
  width: 85%;
  max-width: 350px;
  text-align: center;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%,-7%);
  background-color: white;
  padding: 25px;
  opacity: 0;
  -webkit-transition: opacity .2s; /* Safari prior 6.1 */
   transition: opacity .2s;
     span:first-child{
        margin-right: 10px;
     }
     span:last-child{
        margin-left: 10px;
     }
     a{
       color: black;
       text-decoration: none;
     }
}

 .custom__button-secondary{
  margin: 30px 0;
     a{
       color: black;
       text-decoration: none;
      }
 }

 @media #{$pocket}{
     .custom__button-mobile{
       opacity: 1;
       padding: 15px 5px;
       width: 80%;
     }

     .custom__button-secondary{
      margin: 20px 0;
    }

    .container--mobile{
      width: 85%;
      margin: 0 auto;
    }

 }
/////////////////*   three products  *///////////////


 .product__image-box{

   &:hover {
     .custom__button-primary{
       opacity: 1;
       z-index:10;
       cursor: pointer;
        }

     .button--mosaic{
        opacity: 1;
        z-index:10;
        cursor: pointer;
      }

      }


  }

 /////////////////*   one product centered  *///////////////

.container-one-product{
   margin-top: 50px;
}

.one-product__text{
  margin-bottom: 80px;
}

@media #{$pocket}{
  .container-one-product{
     margin-top: 0;
  }
  .one-product__text {
      margin-bottom: 35px;
   }
}

 /////////////////*   two products  *///////////////

  .container--background{
     width: 100%;
     padding: 80px;
     background-size: cover;
     background-repeat: no-repeat;
  }

  @media #{$pocket}{
      .container--background{
        padding: 60px 0;
      }
      .two-products__left{
        margin-bottom: 60px;
      }
  }

   /////////////////*   mosaic grid *///////////////

    .container--mosaic{
      margin: 80px auto;

       .custom__button-secondary{
          margin: 10px 0;
       }
        .grid{
             img{
               margin-bottom: 20px;
             }
        }
    }

   .mosaic--buttons{
       position: absolute;
       bottom: 10%;
       left: 50%;
       width: 90%;
       transform: translate(-50%, -10%);
       margin: 0 auto;
       display: flex;
       justify-content: space-around;
   }

   .button--mosaic{
     max-width: 350px;
     text-align: center;
     background-color: white;
     padding: 20px 50px;
     opacity: 0;
     -webkit-transition: opacity .2s; /* Safari prior 6.1 */
      transition: opacity .2s;
        span:first-child{
           margin-right: 10px;
        }
        span:last-child{
           margin-left: 10px;
        }
        a{
           color: black;
           text-decoration: none;
        }
   }


   @media #{$portable}{
     .button--mosaic{
       padding: 20px 20px;
     }
   }

   @media #{$pocket}{
       .column-flex{
         flex-direction: row;
       }
       .button--mosaic{
         display: none;
       }
    }
