<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="text-centered">
    <div class="container--tertiary">
       <div class="container--small">
            <div class="home-text__container">
                   <h2 class="home-text__subtitle natusan-h3 medium">{{ section.settings.subtitle }}</h2>
                   <div class="home-text__content natusan-h2 bold">{{ section.settings.text }}</div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Home text centered",
  "settings": [
     {
       "type": "text",
       "id": "subtitle",
       "label": "subtitle"
     },
     {
       "type": "richtext",
       "id": "text",
       "label": "text"
     }

  ],
  "presets": [
  		{
  			"name": "Home Text",
  			"category": "Homepage"
  		}
  	]
}
{% endschema %}
